.header {
    position: relative;
    width: 100%;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1296px;
}

.header-top {
    background-color: #1E293B;
    height: 52px;
    padding-top: 5px;
}

.header-top-active {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header-top-active-signin {
    display: inline-flex;
    align-items: center;
}

.header-top-active-add {
    display: block;
    width: 179px;
    height: 32px;
    border-radius: 4px;
    background-color: #3B82F6;
}

.header-bottom {
    padding: 24px 0px;
}

.header-bottom-active {
    display: flex;
    justify-content: flex-end;
}

form.search-form {
    display: inline-block;
}

input[type="search"] {
    width: 734px;
    height: 36px;
    padding: 0 10px;
    border-radius: 5px 0px 0px 5px;
}

.header-bottom-active-category {
    height: 36px;
    width: 152px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #3B82F6;
    font-size: 14px;
    color: #3B82F6;
    background-color: white;
    margin-right: 10px;
}

.header-bottom-active-search {
    height: 36px;
    width: 91px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #3B82F6;
    font-size: 14px;
    color: white;
    background-color: #3B82F6;
}

ul.nav-menu {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

li.menu-item {
    margin-right: 15px;
}

a.menu-link {
    text-decoration: none;
    color: black;
}

.header a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-left: 17px;
}

.header-category {
    width: 100px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 10px 20px;
    width: 152px;
    height: 36px;
    border: 1px solid #3B82F6;
    border-radius: 4px;
    background-color: white;
    padding-inline-start: 0px;
}

.header li {
    margin-right: 1rem;
}

h1 {
    font-size: 24px;
    color: #1E293B;
    margin-top: 30px;
    margin-bottom: 24px;
}

h3 {
    color: #1E293B;
    font-size: 30px;
    margin-right: 10px;
}

hr {
    border: none;
    background-color: #E2E8F0;
    color: #E2E8F0;
    height: 1px;
}
