.main {
    flex: 0 1 auto;
    width: 1296px;
    height: 1536px;
}

.main-heading {
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 1536px;
}

.main-list-link-card {
    display: flex;
    flex-direction: column;
}

.name {
    align-self: center;
    margin: 0%;
}

.main-list-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 306px;
    height: 336px;
}

.main-list-link-card-name {
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0em;
    color: #3B82F6;
}

.main-list-link-card-prise {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #1E293B;
}

.main-list-link-card-adress,
.main-list-link-card-date {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    color: #64748B;
}
